﻿@model BorrowBookDemo.Models.BookDetailModel

@{
    ViewData["Title"] = "Borrow Book Page";
}



<form method="post" action="/books/borrow">
    <br />
    <br />
    <div class="row">
        <div class="col-md-2">
            Book Id
        </div>
        <div class="col-md-4">
            @Model.Book.Id
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Title
        </div>
        <div class="col-md-2">
            @Model.Book.Title
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Description
        </div>
        <div class="col-md-2">
            @Model.Book.Description
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Borrow To
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(x => x.BorrowedTo, new SelectList(Model.Persons, "Id", "LastName"), "  -----None-----  ")
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-2">
            <a href="/books/index">Back</a>
        </div>
        <div class="col-md-2">
            <input type="hidden" name="bookId" value="@Model.Book.Id"/>            
            <button type="submit">Update</button>
        </div>
    </div>
</form>