﻿@model IList<BorrowBook.Domain.Entities.Book>

@{
    ViewData["Title"] = "Borrow Book Page";
}

<br/>
<br />
<div class="row">
    <div class="col-md-2">
       Book Id
    </div>
    <div class="col-md-2">
      Title
    </div>
    <div class="col-md-2">
        Genre
    </div>
    <div class="col-md-2">
        Price
    </div>
    <div class="col-md-2">
        Borrowed
    </div>
</div>
@foreach (var book in Model)
{
<div class="row">
    
    <div class="col-md-2">
        <a href="/books/details/@book.Id">
            @book.Id
        </a>
    </div>
    <div class="col-md-2">
        @book.Title
    </div>
    <div class="col-md-2">
        @book.Genre
    </div>
    <div class="col-md-2">
        @book.Price
    </div>
    <div class="col-md-2">
        @(book.IsBorrowed ? "Yes" : "No")
    </div>
</div>
}
